<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="well">
        <%= image_tag("international_transfers.jpg",:style => "width: 100%;") %>
        <h2 class="text-warning">Международные системы быстрых денежных переводов</h2>
        <hr/>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
        <hr>
        <h3>от 18% годовых</h3>
        <hr>
        <%= link_to products_transfer_types_international_transfers_path(params["client_type"].to_i), class: 'btn btn-danger btn-large' do %>
          <i class="icon-ok"></i> Узнать больше
      <% end %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="well">
        <%= image_tag("local_transfers.png",:style => "width: 100%;") %>
        <h2 class="text-warning">Системы денежных переводов внутри Кыргызстана</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
        <hr>
        <h3>$10.99 / month</h3>
        <hr>
        <%= link_to({controller: "products/transfer_types/local_transfers", action: "index"}, class: 'btn btn-danger btn-large') do %>
          <i class="icon-ok"></i> Узнать больше
        <% end %>
      </div>
    </div>
  </div>
</div>