<h1>Editing Special Offer</h1>

<%= render 'form', special_offer: @special_offer %>

<%= link_to 'Show', admin_special_offers_path(@special_offer) %> |
<%= link_to 'Back', admin_special_offers_path %>
