<h1>Реквизиты</h1>
<table class="table table-hover">
  <tr style="border-topd:">
    <td>Полное наименование</td>
    <td>ОАО «ФинансКредитБанк КАБ»</td>
  </tr>
  <tr>
    <td>Местоположение:</td>
    <td>г.Бишкек, Кыргызская Республика</td>
  </tr>
  <tr>
    <td>Почтовый адрес:</td>
    <td>720021, г. Бишкек, ул. Абдрахманова, 105</td>
  </tr>
  <tr>
    <td>Юридический адрес:</td>
    <td>Кыргызская Республика, 720021, г. Бишкек, ул. Абдрахманова, 105</td>
  </tr>
  <tr>
    <td>ИНН:</td>
    <td>00812200510186 </td>
  </tr>
  <tr>
    <td>БИК:</td>
    <td>134001</td>
  </tr>
  <tr>
    <td>Кор/счет:</td>
    <td>1013810000490186 в НБ КР</td>
  </tr>
  <tr>
    <td>Код ОКПО:</td>
    <td>23987776</td>
  </tr>
  <tr>
    <td>SWIFT:</td>
    <td>FIKBKG22</td>
  </tr>
  <tr>
    <td>Telex:</td>
    <td>245155 FCKAB KH</td>
  </tr>
  <tr>
    <td>Эл. почта:</td>
    <td><a href="mailto:fkb@fkb.kg" shape="rect">fkb@fkb.kg</a></td>
  </tr>
  <tr>
    <td>Веб-сайт:</td>
    <td><a href="/" shape="rect">www.fkb.kg</a></td>
  </tr>
</table>