<a href ='#'>
    <div class='ftrect' style='background-position: 0px 0px;'>
    </div>
  </a>
  <div class='ftrect' style='background-position: 0px -40px;'>
    <a href ='#'></a>
  </div>
  <div class='ftrect' style='background-position: 0px -80px;'>
    <a href ='#'></a>
  </div>
  <div class='ftrect' style='background-position: 0px -122px;'>
    <a href ='#'></a>
  </div>
  <div class='ftrect' style='background-position: 0px -162px;'>
    <a href ='#'></a>
  </div>
  <div class='ftrect' style='background-position: 0px -202px;'>
    <a href ='#'></a>
  </div>
  <div class='ftrect' style='background-position: 0px -242px;'>
    <a href ='#'></a>
  </div>
  <div class='ftrect' style='background-position: 0px -280px;'>
    <a href ='#'></a>
  </div>