<footer class="footer1">
          <div class="container">
            <div class="row"><!-- row -->
              <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                  <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    <h1 class="title-widget">Общая информация</h1>
                    <ul>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> О банке</a></li>
                      <li><%= link_to offices_path() do %>
                          <i class="fa fa-angle-double-right"></i> Филиальная сеть
                          <% end %>
                      </li>
                      <li><%= link_to news_path() do %>
                          <i class="fa fa-angle-double-right"></i> Новости  
                            <% end %>
                      </li>
                      <li><%= link_to bankdetails_path() do %>
                          <i class="fa fa-angle-double-right"></i> Реквизиты
                                <% end %>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="col-lg-5 col-md-5"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                  <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    <h1 class="title-widget">Режим работы</h1>
                    <div class="footerp">
                      <p>Понедельник - пятница:
                      <u>9.00 - 17.00, без перерыва</u>
                      </p>
                      <p>Суббота:
                      <u>10.00 - 14.00</u>
                      </p>
                      <p><u>ВЕЧЕРНЯЯ КАССА</u></p>
                      <p>Понедельник - пятница:
                      <u>17.00 - 21.00</u>
                      </p>
                      <p>Суббота:
                      <u>14.00 - 21.00</u>
                      </p>
                      <p>Воскресенье и праздничные дни:
                      <u>10.00 - 15.00 </u>
                      </p>
                      <a><b>Единая служба информации:</b>
                        (0312) 443-443,(0312) 330-333</a>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- widgets column left end -->
              <div class="col-lg-4 col-md-4"><!-- widgets column center -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                  <li class="widget-container widget_recent_news"><!-- widgets list -->
                    <h1 class="title-widget">Наши контакты </h1>
                    <div class="footerp">
                      <h2 class="title-median">ОАО "ФинансКредитБанк КАБ"</h2>
                      <p><b>Email:</b> <a href="mailto:fkb@fkb.kg">fkb@fkb.kg</a></p>
                      <p><b>Адрес: Кыргызстан, г.Бишкек, ул.Абдрахманова 105</b></p>
                      <p><b>Тел.: </b>(312) 30-30-14, </p>
                      <p>(312) 30-35-10,(312) 30-34-87 </p>
                    </div>
                    <div class="social-icons">
                      <ul class="nomargin">
                        <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                        <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                        <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                        <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
        <!--header-->
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="copyright">
                  © 2006-2016 ОАО "ФинансКредитБанк КАБ". Все права защищены.
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="design">
                  <a href="#">Лицензия НБ КР № 047</a>
                </div>
              </div>
            </div>
          </div>
        </div>