
<%= image_tag(mini_special_offer.image.url(:large),style:"float:left;margin:10px 20px 10px 0px; box-shadow: 0 0 10px rgba(0,0,0,0.5);") %>

<p>  
  <%= mini_special_offer.creation_date %>
</p>
<p>
  <%= raw(mini_special_offer.body) %>
</p>