<div class="page-header">
  <h2>Правление Банка</h2>
</div>
<div id="management">
  <div class="container">
    <% @managers.select{|x| x.type_id==1}.each do |manager| %>
      <%= render "shared/manager",{manager: manager} %>
      <div class="clearfix"></div>
    <% end %>
  </div>
</div>

<div class="page-header">
  <h2>Совет диреторов Банка</h2>
</div>
<div id="management">
  <div class="container">
    <% @managers.select{|x| x.type_id==2}.each do |manager| %>
      <%= render "shared/manager",{manager: manager} %>
      <div class="clearfix"></div>
    <% end %>
  </div>
</div>