<%= render layout: "shared/one_column_sidebar", locals:{title:"Правление Банка", subtitle:""} do %>
<h3>Члены Правления Банка</h3>
  <div id="management">
    <div class="container">
      <% @managers.select{|x| x.type_id==1}.each do |manager| %>
        <%= render "shared/manager",{manager: manager} %>
        <div class="clearfix"></div>
      <% end %>
    </div>
  </div>
  
    <h3>Члены Совета диреторов Банка</h3>
  <div id="management">
    <div class="container">
      <% @managers.select{|x| x.type_id==2}.each do |manager| %>
        <%= render "shared/manager",{manager: manager} %>
        <div class="clearfix"></div>
      <% end %>
    </div>
  </div>
<% end %>