<%= render layout: "shared/one_column_sidebar", locals:{title:"Реализация залогового имущества ", subtitle:"<span style='float:right;color:#000;'><i class='fa fa-phone-square' aria-hidden='true' style='color:#d40000'></i> 0555-555555</span>"} do %>
  <%= render "shared/garant", garant:@garant %>
<% end %>