<%= render layout: "shared/one_column_sidebar", locals:{title:"Корреспондентская сеть", subtitle:""} do %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Банк-корреспондент</th>
        <th>SWIFT код</th>
        <th>Валюта</th>
        <th>Корр.счет</th>
        <th>Адрес</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">KBC Bank NV</th>
        <td>KREDBEBB</td>
        <td>EUR<br/>
          GBP</td>
        <td>488591829568<br/>
          488591829669</td>
        <td>2 – 1080
Havenlaan, Brussels, Belgium</td>
      </tr>
      <tr>
        <th scope="row">ЗАО АКБ "НОВИКОМБАНК"</th>
        <td>CNOVRUMM</td>
        <td>RUВ<br/>
          USD<br/>
          EUR</td>
        <td>30111810300000000407<br/>
          30111840600000000407<br/>
          30111978200000000407</td>
        <td>Россия, 119180 г.Москва, Якиманская наб., д.4/4, стр.2</td>
      </tr>
      <tr>
        <th scope="row">ПАО "Сбербанк"</th>
        <td>SABRRUMM</td>
        <td>RUВ<br/>
          USD<br/>
          EUR</td>
        <td>30111810500000000726<br/>
          30111840800000000726<br/>
          30111978400000000726</td>
        <td>Россия, 117997 г.Москва, ул.Вавилова, 19</td>
      </tr>
      <tr>
        <th scope="row">ПАО "Промсвязьбанк"</th>
        <td>PRMSRUMM</td>
        <td>RUВ<br/>
          USD<br/>
          EUR</td>
        <td>30111810050000786402<br/>
          30111840350000786402<br/>
          30111978950000786402</td>
        <td>109052, Россия, г.Москва, ул.Смирновская, д.10, строение 22 </td>
      </tr>
      <tr>
        <th scope="row">Филиал Центральный ПАО Банка «ФК Открытие»</th>
        <td>RUDLRUMM</td>
        <td>RUВ<br/>
          USD<br/>
          EUR</td>
        <td>30111810600004000690<br/>
          30111840900004000690<br/>
          30111978500004000690</td>
        <td>Российская Федерация, 119021, Москва, ул.Тимура Фрунзе, д.11, стр.13.</td>
      </tr>
      <tr>
        <th scope="row">АО «Казкоммерцбанк»</th>
        <td>KZKOKZKX</td>
        <td>KZT<br/>
          RUВ<br/>
          USD<br/>
          EUR</td>
        <td>KZ799260001000980000<br/>
          KZ529260001000980001<br/>
          KZ259260001000980002<br/>
          KZ959260001000980003</td>
        <td>Республика Казахстан, г.Алматы пр-т Гагарина,135 ж</td>
      </tr>
      <tr>
        <th scope="row">АКБ "Интеркоопбанк" (ОАО)</th>
        <td>IKBMRUMM</td>
        <td>RUВ<br/>
          USD<br/>
          EUR</td>
        <td>30111810500000000075<br/>
          30111840800000000075<br/>
          30111978400000000075</td>
        <td>Россия, 117415, г.Москва, пр-т Вернадского,41</td>
      </tr>
      <tr>
        <th scope="row">АО КБ "Юнистрим"</th>
        <td>UMTNRUMM</td>
        <td>RUВ<br/>
          USD<br/>
          EUR</td>
        <td>30111810800010000103<br/>
          30111840400010000104<br/>
          30111978300010000105</td>
        <td>Россия,  127083, г. Москва, ул.Верхняя Масловка, д. 20, стр.2</td>
      </tr>
      <tr>
        <th scope="row">АО "Банк ЦентрКредит"</th>
        <td>KCJBKZKX</td>
        <td>KZT</td>
        <td>KZ988560000000525424</td>
        <td>Республика Казахстан,050000 г.Алматы, ул.Панфилова, 98</td>
      </tr>
      <tr>
        <th scope="row">АО «ForteBank»</th>
        <td>IRTYKZKA</td>
        <td>KZT<br/>
          RUB</td>
        <td>KZ189650000001425486<br/>
          KZ399650000001425884</td>
        <td>Республика Казахстан, 050004, г.Алматы, ул.Фурманова, 50</td>
      </tr>
      <tr>
        <th scope="row">ООО КБ "Анелик РУ"</th>
        <td>ANELRUMM</td>
        <td>RUB<br/>
          USD<br/>
          EUR</td>
        <td>30111810200000000055<br/>
          30111840500000000055<br/>
          30111978100000000055</td>
        <td>Россия, 125124, г.Москва, 1-ая ул.Ямского поля, д.19, стр.1 </td>
      </tr>
      <tr>
        <th scope="row">ПАО «ТРАНСКАПИТАЛБАНК»</th>
        <td>TJSCRUMM</td>
        <td>RUB<br/>
          USD<br/>
          EUR</td>
        <td>30111810300000000089<br/>
          30111840600000000089<br/>
          30111978200000000089</td>
        <td>Россия, 109147, г.Москва, ул.Воронцовская, д.27/35</td>
      </tr>
    </tbody>
  </table>
<% end %>