<%= render layout: "shared/one_column_sidebar", locals:{title:"Тарифы за обслуживание пластиковых карт Элкарт", subtitle:""} do %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Наименование тарифа</th>
        <th>Ставка</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Выпуск карты</td>
        <td>90 сом</td>
      </tr>
      <tr>
        <td>Перевыпуск карты</td>
        <td>90 сом</td>
      </tr>
      <tr>
        <td scope="row">Срочный выпуск карты</td>
        <td>100 сом</td>
      </tr>
      <tr>
        <td scope="row">Рассмотрение финансовой претензии</td>
        <td>100 сом</td>
      </tr>
      <tr>
        <td scope="row">Выпуск дополнительной карты</td>
        <td>90 сом</td>
      </tr>
      <tr>
        <td scope="row">Годовое обслуживание</td>
        <td>100 сом</td>
      </tr>
      <tr>
        <td scope="row">Минимальный остаток на счете</td>
        <td>50 сом</td>
      </tr>
      <tr>
        <td scope="row"><strong>Обналичивание в устройствах ОАО «ФинансКредитБанк КАБ» и банков «Дружественной сети»<br/>
          </strong>
          &nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>  &nbsp;&nbsp;Банк Бакай<br/>
          &nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>  &nbsp;&nbsp;Банк Азии<br/>
          &nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>  &nbsp;&nbsp;Айыл Банк<br/>
          &nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>  &nbsp;&nbsp;Доскредобанк<br/>
          &nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>  &nbsp;&nbsp;KICB<br/>
        </td>
        <td>0,5 %</td>
      </tr>
      <tr>
        <td scope="row">Обналичивание в устройствах банков, не входящих в «Дружественную сеть»</td>
        <td>0,6%</td>
      </tr>
      <tr>
        <td scope="row">Оплата товаров и услуг через POS-терминалы</td>
        <td>бесплатно</td>
      </tr>
      <tr>
        <td scope="row">Комиссия за запрос информации о состоянии баланса и (мини)выписки в устройствах нашего Банка и банков «Дружественной сети»</td>
        <td>0,5 сом</td>
      </tr>
      <tr>
        <td scope="row">Комиссия за запрос информации о состоянии баланса и (мини)выписки в устройствах банков, не входящих в «Дружественную сеть»</td>
        <td>5 сом</td>
      </tr>
      <tr>
        <td scope="row">Перевод денежных средств с карты на карту посредством банкоматов</td>
        <td>Согласно тарифам банков, предоставляющих данную услугу</td>
      </tr>
    </tbody>
  </table>
<% end %>