@import "bootstrap-sprockets";
@import "bootstrap";
@import "main-sidebar";
@import "main-nav";
@import "main";
@import "main-carousel";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "main-footer";
@import "mt-carousel";

.flag {
	width: 25px;
	height: 15px;
	background:url(flags.png) no-repeat
}

.flag.flag-gb {background-position: -25px 0}
.flag.flag-kg {background-position: 0 -15px}
.flag.flag-ru {background-position: -25px -15px}