<h1>Editing Special Offer</h1>

<%= render 'form', mini_special_offer: @mini_special_offer %>

<%= link_to 'Show', admin_mini_special_offers_path(@mini_special_offer) %> |
<%= link_to 'Back', admin_mini_special_offers_path %>
