<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <%= render "shared/deposit_type", abs_deposit_type: @abs_deposit_type, details: @deposit_type%>
  </div>
</div>
<%= link_to 'Edit', edit_admin_deposit_type_path(@deposit_type) %> |
<%= link_to 'Back', admin_deposit_types_path %>