// Place all the styles related to the products/transfer_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table th, .table td {
    border-top: 1px dotted #52C11D;
    text-align: center;
    vertical-align: middle;
}